# Elixir
_build/
cover/
deps/
.fetch
erl_crash.dump
*.ez
blazt-*.tar
doc/
blast
result/


# Blast files
blast.{ex,exs}
blast.log


# Language server
.elixir_ls/
.lexical/
.elixir-tools/
.expert/


# Temporary files
tmp/
*.txt
*.svg
*.png
