# Elixir
_build/
cover/
deps/
.fetch
erl_crash.dump
*.ez
blazt-*.tar
tmp/

# Output from nix
result

# Builds
blast

# Blast files
blast.yml
blast.yaml
blast.log
local.hooks.ex

# Language server
.elixir_ls/
.lexical/
.elixir-tools/
