# Elixir
_build/
cover/
deps/
.fetch
erl_crash.dump
*.ez
blazt-*.tar

# Output from nix
result

# Builds
blast

# Blast files
blast.yml
blast.yaml
!test/blast.yml

blast.log
local.hooks.ex

# Language server
.elixir_ls/
.lexical/
.elixir-tools/

# Temporary files
tmp/
*.txt
*.svg
*.png
