<table>
  <thead style="text-align:left">
    <tr>
      <th>Endpoint</th>
      <th>Hit count</th>
    </tr>
  </thead>
  <tbody>
    <%= for {endpoint, stats} <- responses do %>
      <tr>
        <td><%= endpoint %></td>
        <td><%= stats.count %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
